.AuthLayout {
  &-header {
    display: flex;
    align-items: center;
    padding-inline: 180px;

    &__appName {
      color: white;
    }

    &__menu {
      margin-left: 16px;
      width: 60%;
    }
  }

  &-contentContainer {
    padding-inline: 180px;
    margin-top: 40px;
  }

  &-footer {
    text-align: center;
  }
}
